<!DOCTYPE html>
<html>
<head>
  <title>CALCULATION STATION!</title>
  <link href='http://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div>
    <%= yield %>
  </div>
</body>
</html>
